@keyframes gradientBG {

    0%,
    100% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }
}

.bg-gradient-animated {
    background: linear-gradient(90deg, #3BBCD9, #1e90ff, #F7CAC9, #3BBCD9);
    background-size: 400% 400%;
}

.animate-gradient-animate {
    animation: gradientBG 15s ease infinite;
}

/* Mandala */
.mandala-art {
    width: 800px;
    height: 800px;
    position: absolute;
    top: 160%;
    left: 25%;
    transform: translate(-50%, -50%);
    animation: rotate 25s linear infinite;
    opacity: 1.5;
}

@media (max-width: 768px) {
    .mandala-art {
        width: 70vw;
        height: auto;
        top: auto;
        left: auto;
        bottom: 0;
        right: 0;
        transform: none;
        opacity: 0.3;
        z-index: -1;
        /* Move behind the map */
    }
}

@keyframes rotate {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.text-container {
    position: relative;
    z-index: 10;
    /* Ensure text is above the mandala */
}