/* styles.css */
@keyframes gradientBG {

    0%,
    100% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }
}

.bg-gradient-animated {
    background: linear-gradient(90deg, #3BBCD9, #1e90ff, #F7CAC9, #3BBCD9);
    background-size: 400% 400%;
}

.animate-gradient-animate {
    animation: gradientBG 15s ease infinite;
}


/* mandala */

.mandala-art {
    width: 800px;
    /* Adjust size as needed */
    height: 800px;
    /* Adjust size as needed */
    top: 60%;
    left: 25%;
    transform: translate(-50%, -50%);
    animation: rotate 25s linear infinite;
    opacity: 0.5;
    /* Increase the opacity */
}

@keyframes rotate {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.text-container {
    position: relative;
    z-index: 10;
    /* Ensure text is above the mandala */
}