.svg-map {
    width: 100%;
    height: auto;
    stroke: #666;
    stroke-width: 1;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.svg-map__location {
    fill: #a1d99b;
    cursor: pointer;
}

.svg-map__location:focus,
.svg-map__location:hover {
    fill: #79e06e;
    outline: 0;
}

.svg-map__location[aria-checked=true] {
    fill: #f4bc44;
}

.india-map {
    position: relative;
}

.india-map .location {
    cursor: pointer;
}

.india-map .location:hover {
    fill: #cccccc;
    /* Highlight color on hover */
}